body {
  font-family: Raleway;
}

a {
  display: inline-block;
  text-decoration: none;
}
img {
  vertical-align: top;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.clear {
  clear: both;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 1199px){
  .inner{
    width: 97%;
  }
}

.header {
  background: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 15px 0;
}

.bolt_icon {
  float: left;
  font-size: 20px;
}

.fa-bolt {
  color: #4e4e4e;
}

.contact_button {
  background: #74cfae;
  float: right;
}

.contact_button_txt {
  font-size: 12px;
  padding: 14px 12px;
  color: #fff;
  transition: .3s;
}

.contact_button:hover > .contact_button_txt {
  color: #333;
}

.main_wrap {
  padding-top: 70px;
}

.is_bolttheme {
  background: #f2f2f2;
  padding: 250px 0;
}

@media screen and (max-width: 766px){
  .is_bolttheme{
    padding-top: 160px;
    padding-bottom: 130px;
  }
}

.title_name {
  text-align: center;
}

.bolttheme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

@media screen and (max-width: 766px){
  .boltthemes {
    font-size: 80px;
  }
}

.themes {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.what {
  background: #74cfae;
  padding-top: 50px;

}

@media screen and (max-width: 1199px){
  .what {
    padding-bottom: 25px;
  }
}

.what_box {
  float: right;
  width: 775px;
  text-align: center;
  color: #fff;
  margin-top: 35px;
}

@media screen and (max-width: 1199px){
  .what_box {
    padding-top: 20px;
    float: none;
    width: 100%;
    margin-top: 0;
  }
}

.what_title_txt {
  font-size: 24px;
  font-family: Raleway;
}

.what_content_txt {
  font-size: 20px;
  margin-top: 35px;
  line-height: 30px;
}

.latest_work {
  background: #f2f2f2;
  padding-bottom: 70px;
  padding-top: 60px;
}

@media screen and (max-width: 1199px){
  .latest_work {
    padding-bottom: 70px;
  }
}

.latest_title {
  color: #4e4e4e;
  margin-bottom: 40px;
  font-size: 24px;
  color: #4e4e4e;
  line-height: 25px;
}

.latest_anchors {
  padding-bottom: 90px;
  font-size: 0;
}

@media screen and (max-width: 1199px){
  .latest_anchors {
    padding-bottom: 80px;
  }
}

.latest_anchor {
  margin-left: 100px;
  margin-top: 80px;
  filter:alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  transition: .3s;
}

@media screen and (max-width: 1199px){
  .latest_anchor {
    margin: 0 auto;
    display: block;
    width: 300px;
  }
}

.latest_anchor:hover {
  filter:alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.latest_anchors > .latest_anchor:nth-child(3n-2) {
  margin-left: 0;
}

@media screen and (max-width: 1999px){
  .latest_anchors > .latest_anchor:nth-child(3n-2) {
    margin: 0 auto;
  }
}


.latest_anchors > .latest_anchor:nth-child(-n+3) {
  margin-top: 0;
}



@media screen and (max-width: 1199px){
  .latest_anchors > .latest_anchor:nth-child(4){
    padding-top: 80px;
  }
}

.latest_bottom {
  margin: 0 auto;
  width:900px;
}

@media screen and (max-width: 1199px){
  .latest_bottom{
    width: auto;
  }
}

.latest_bottom_txt {
  line-height: 20px;
  float: left;
  margin: 0 90px;
  width: 530px;
}

@media screen and (max-width: 1199px){
  .latest_bottom_txt{
    float: none;
    margin: 0 auto 40px auto;
    width: 97%;
  }
}

.latest_bottom_button {
  background: #74cfae;
  float: left;
  margin: 0 auto;
}

@media screen and (max-width: 1199px){
  .latest_bottom_button{
    float: none;
  }
}

.latest_bottom_button_txt {
  font-size: 12px;
  color: #fff;
  padding: 14px 20px;
  transition: .3s;
}

.latest_bottom_button:hover > .latest_bottom_button_txt {
  color: #333;
}

.our_skills {
  background: #4e4e4e;
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 100px;
}

.our_skills_title {
  color: #fff;
  margin: 0 auto;
  font-size: 24px;
}

.our_skills_images {
  margin-top: 50px;
  display: inline-block;
}

.skills_float {
  float: left;
  margin-right: 180px;
  box-sizing: border-box;
}

@media screen and (max-width: 1199px){
  .skills_float{
    margin: 0 auto 88px 0;
  }
}

@media screen and (max-width: 1199px){
  .skills_float{
    float: none;
  }
}

.skills_float:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.skills_txt {
  color: #fff;
  width: 122px;
  text-align: center;
  margin-top: 10px;
}

.sns {
  background: #f2f2f2;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and (max-width: 766px){
  .sns{
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.link_button {
  border-radius: 0;
  color: #74cfae;
  border: 0;
  width: 185px;
  background-color : Transparent;
  transition: all .2s;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 70px;
}

@media screen and (max-width: 766px){
  .link_button {
    width: calc(100% - 15px);
  }
}

.link_button:hover {
  cursor: pointer;
  background-color: #FFF;
}

.footer {
  background: #74cfae;
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer_word {
  color: #fff;
  float: right;
}

.footer_txt {
  display: inline-block;
  color: #fff;
  float: right;
}
